<h1>Welcome to the Agnostic App</h1>

<p>This app is a skeleton to make a real web application with.  It has, by default:</p>
<ul>
  <li><strong>Users</strong></li>
  <ul>
    <li>Create, edit, and destroy</li>
    <li>Can view individual and all users</li>
    <li>Admin user type</li>
    <li><%= link_to 'Create a new one here', new_user_path %></li>
  </ul>
  <li><strong>Sessions</strong><ul>
    <li>Sign in</li>
    <li>Sign out</li>
    <li>Validations on edit, destroy</li>
  </ul>
  </li>
  <li><strong>UI Frameworks</strong></li>
  <ul>
    <li>Bootstrap (w. sass), this particular one is using flat ui.  To remove flat UI and use normal bootstrap, simply remove "@import 'flat-ui';" from the custom.css.scss file</li>
  </ul>

</ul>
