<%= link_to 'update bikes', {:controller => "bikes", :action => "index", :lastDate => @bikes.first.created_at }, :remote=> true, class: "updateLink" %>
<table>
<%= @lastdate %>
<% @bikes.each do |bike| %>
  <%= render 'bike_post', :bike => bike %>
<% end %>
</table>
